
{% load crispy_forms_tags %}

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_nueva_compra">Guardar Compra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if compra %}
          <form id="formCompra" method= "post" action="{% url 'compras:guardarCompra' compra.id %}">
        {% else %}
          <form id="formCompra" method= "post" action="{% url 'compras:guardarCompra' %}">
        {% endif %}
            {% csrf_token %}
            <div class="w-75 margin-auto mx-auto">
                {{form_compra|crispy}}
              
                <button type="submit" class = "btn btn-success">Registrar compra</button>        
            </div>
          </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" form="formCompra" class="btn btn-primary">Guardar Compra</button>
      </div>
    </div>
  </div>

