@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Ocultar botones de incremento/decremento en campos de número */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield; 
}

/* Estilos generales del formulario */
#formCompraDetalle .form-control {
  padding: 1px;
  margin: 1px;
}

#formCompraDetalle label {
  line-height: 1.2; /* Ajusta el espacio entre líneas del texto del label */
}

body {
  background: var(--cuaternario);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  padding: 15px;
}

.btn-primary {
  background-color: var(--primario);
  border-color: var(--primario);
}

.btn-primary:hover {
  background-color: var(--terciario);
  color: var(--primario);
}

#tituloMenu {
  display: block;
  text-align: center;
}

.input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}

td {
  text-overflow: ellipsis; /* Completa con ... */
  overflow: hidden;
  white-space: nowrap;
}

.accordion-body {
  background: var(--cuaternario);
}

.totales {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.totales input {
  max-width: 100px;
  text-align: end;
}
.totales span {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.totales input[type="text"] {
  max-width: 100%;
  margin-left: 8px;
  flex-shrink: 0;
}

#totalCompra {
  padding: 0;
  font-size: 2rem;
}

.modal-content {
  background: var(--cuaternario);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Ajuste de pantalla completa */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--primario);
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 15px;
  text-align: center;
}

.content {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px 30px 20px;
}

/*** TABLA DETALLES DE VENTAS ***/
.table {
  flex-direction: column;
  border-collapse: collapse;
}

.thead {
  display: table-header-group;
  color: white;
  font-weight: bold;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  border: 1px solid var(--secundario);
  padding: 1px;
}


.table tr th, .table tr td {
  padding: 0 5px;
  height: 80%;
}

.input-group-append {
  cursor: pointer;
}

tbody tr, tbody th, tbody td {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

tbody tr:nth-child(odd) {
  background-color: #d8dada;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

table {
  background-color: #878a8a;
}

.form_ingreso {
  display: grid;
  grid-template-columns: 100px 150px 100px 150px 50px 50px;
}

label span {
  white-space: nowrap;
}

/* Ajuste de tablas para pantallas pequeñas */
@media screen and (max-width: 767px) {
  table.display {
    width: 100%;
  }
  table.display thead {
    display: none;
  }
  table.display tbody tr {
    margin-bottom: 10px;
    display: block;
  }
  table.display tbody td {
    padding: 5px;
    display: block;
    text-align: left;
  }
  table.display tbody td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    display: inline-block;
    width: 6em;
  }
}

/* Estilo de formulario adaptativo */
.form_ingreso1 {
  display: flex;
  flex-direction: column;
}

.form-row {
  flex-wrap: wrap;
}


/* Estilos específicos para pantallas en modo retrato (vertical) */
@media (orientation: portrait) {
  .form-group {
    flex: 1 1 100%;
  }
  .form-row{
    display: flex; /* para dejarlo en una sola columna*/
  }
  .dynamic-font {
    font-size: 5vw; /* Ajusta este valor según sea necesario */
    text-align: center;
  }
}

/* Estilos específicos para pantallas en modo paisaje (horizontal) */
@media (orientation: landscape) {
  
  .dynamic-font {
    font-size: 2vw; /* Ajusta este valor según sea necesario */
    text-align: center;
  }
}
