<div class="menu__side" id="menu__side">
  <div class="logo">
      <a class="" href="/"> <img src="/static/baseapp/images/logo.png" alt=""/></a>
  </div>
  <div class="options__menu" id="menuDinamico"> 
      <ul>
          <li><a href="#">Opción 1</a></li>
          <li>
              <a href="#" data-bs-toggle="collapse" data-bs-target="#submenu">Opción 2 <i class="fa fa-caret-down"></i></a>
              <ul id="submenu" class="collapse">
                  <li><a href="#">Subopción 1</a></li>
                  <li><a href="#">Subopción 2</a></li>
              </ul>
          </li>
          <li><a href="#">Opción 3</a></li>
      </ul>
  </div>
  <div id="footer" class="footer">
 