{% load static %}

<link rel="stylesheet" href="{% static 'baseapp/css/navbar.css' %}">

<div class="container">
    <div class="header">
        <div class="logo">GutSoft</div>

        <ul class="nav">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Contacto</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'compras:compras' %}">Compras</a></li>
            <li><a href="#">{{ user.username }} </a>
                <ul>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{% url 'auth:log_in' %}">log-in</a></li>
            {% endif %}

        </ul>
    </div>
</div>
<script>
    // Seleccionar el icono de hamburguesa y el menú
    const hamburger = document.querySelector(".hamburger");
    const nav = document.querySelector(".nav");

    // Agregar un evento de clic al icono de hamburguesa
    hamburger.addEventListener("click", function () {
        // Mostrar u ocultar el menú según su estado actual
        if (nav.style.display === "none") {
            nav.style.display = "flex";
        } else {
            nav.style.display = "none";
        }
    });
</script>

</html>