{% extends "baseapp/basePOS.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}
Detalles del objeto
{% endblock %}

{% block content %}

<a class="" href="{% url url_crea %}">Crear </a>

<h1>Object Detail</h1>

<ul>
    {% for field, value in object_detail.items %}
        {% if field != "updater" and field != "creater" and field != "deleter" and field != "updated" and field != "created" and field != "deleted" %}
            <li><strong>{{ field }}:</strong> {{ value }}</li>
        {% endif %}
    {% endfor %}
</ul>

<div>
    <ul>
        {% for field, value in object_detail.items %}
            {% if field == "updater" or field == "creater" or field == "deleter" or field == "updated" or field == "created" or field == "deleted" %}
                <li><strong>{{ field }}:</strong> {{ value }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    
</div>

<!-- INICIO MODAL NUEVA ENTIDAD -->
<div class="modal fade" id="modal_nueva_entidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal_nueva_entidad_Label" aria-hidden="true">
    {% include "baseapp/objectCreate.html" %}
</div>

<!--llamar al modal -->
<p class="text-center"> <button class="btn btn-primary btn-flotante" type="submit"
        onclick="abrirModal('modal_nueva_entidad',  `{% url url_crea %}` )">Nueva Compra</button> </p>

<!-- FINAL MODAL NUEVA COMPRA-->

<script src="{% static 'baseapp/js/baseapp.js' %}"></script>

{% endblock %}